*{     margin: 0%;
       padding: 0%;
       background-color: rgb(0, 0, 0);
       }
   
/* aqui comienza el titular */
header{
    margin-top: 14px;
    text-align: center;
    padding: 14px;
    background-color: black;
}

.logo  {
    font-size: 50px;
    color: rgb(220, 224, 223);
    font-style: italic;
    text-decoration: none;
    font-family: "Princess Sofia", cursive;
    font-weight: 700;
    text-shadow: -4px 9px 16px rgba(252, 252, 252, 0.281);
}

.toplogo{
    margin-top: 14px;
    display: inline-block;
}

/* aqui comienza la barra */

.bar{
    background-color: rgb(0, 0, 0);
    color: rgba(123, 155, 122, 0.808);
    padding: 0%;    
}
        
.container {
display: block;
width: 100%; 
padding: 14px;
}
   
.nav-link {
list-style-type: none;
text-decoration:  none;
}
    
.nav-link li{
display: inline-block;
width: 23%;
text-align: center;
}
    
    .nav-link li a{
        text-decoration:  none;
        color: rgb(197, 255, 159);
        bottom: 5px;
        font-weight: 400;
        transform: color 0.4s ease-in-out;
    }

    .nav-link li a.activo{
    color: rgb(252, 215, 215);
    font-size: 16px;
    text-shadow: -3px 4px 23px rgba(255, 255, 255, 0.95);
    font-weight: 700;
    }

    .nav-link li a:hover{
        color: rgb(252, 215, 215);
        font-size: 16px;
        text-shadow: -3px 4px 23px rgba(255, 255, 255, 0.95);
        font-weight: 700;
    }
   

/* aqui comienza cuerpo del html */

.principal{
    max-width: 1100px;
    margin: auto;
 }

.carrousel{
    width: 100%;
    margin-top: 10px;
    }

 body{
line-height: 22px;
 }

main{
    color: rgb(234, 248, 218);
   padding: 14px;
   }

.titular{
    text-align: center;
}

h2{
padding: 14px;
}

p{
padding: 3px;
}

.oferta{
    text-align: center;
    margin-top: 30px;
}

.page{
display: flex;
flex-wrap: wrap;
}

.paget{
font-weight: 700;
font-size: 24px;
position: relative;
bottom: 1.8px;
}

.seguinos{
color: antiquewhite;
text-align: center;
clear: both;
}

.seguinos ul{
display: inline-flex;
padding: 25px;
list-style-type: none;
}

.seguinos ul a{
    text-decoration: none;
    padding-left: 14px;
    opacity:56%;
    }

    .seguinos ul a:hover{
        opacity:100%;
        }

footer{
    border-top: 2px solid #32585a;
    background-color: #000000;
    font-weight: 400;
    text-align: center;
    color: rgb(247, 247, 247);
    width: 100%;
    
    margin: 0 auto;
    padding: 10px 0;
    clear: both;
}

.linea{
    color: #32585a;
    padding: 8px;
}

.master{
padding: 8px;
color: rgb(230, 230, 168);
}

.master1{
    list-style-type: none;
}

.datos{
    display: inline-block;
    position: relative;
    bottom: 10px;
    padding: 6px;
}

.naveg{
    list-style-type: none;
    text-decoration:  none;
    color: aliceblue;
    font-size: 20px;
    font-style: italic;
}

.dulce{
    color: rgb(230, 230, 168);
    font-style: italic;
}

.dulce2{
    font-size: 18px;
    font-style: italic;
    margin: 1px;
}


.holder{
  max-width: 960px;
    margin: 0 auto;
     }

/* aqui comienza contacto */

.formulario label{
    vertical-align: top;
    width: 80px;
        display: inline-block;    
}

.formulario input, .formulario textarea{
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid rgb(174, 177, 175);
    font-size: 13px;
    padding: 5px;
    width: 90%;    
}

.formulario textarea{
height: 160px;
resize: none;
}

.formulario input[type=submit]{
width: auto;
border: 0px solid #3f413f;
background-color: rgb(0, 0, 0);
box-shadow: 0 0 5px;
font-size: 14px;
font-weight: 600;
cursor: pointer;
color: white;
padding: 12px;
}

.formulario input[type=submit]:hover{
    background-color: #3f413f;
    
}

.redes{
        list-style-type: none;
        text-decoration:  none;
}

.redes li a{
text-decoration: none;
color: rgb(194, 216, 199);
position: relative;
bottom: 19px;
}

.contacto{
    margin-top: 14px;
    padding: 14px;
}

.maps{
    margin: 0px;
    width: 90%;
    height: 200px;
    padding: 14px;
}


/* aqui comienza productos */

main section .listado {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}

main section article:hover .descripcion{
opacity: 100%;
transition: 2000ms;
}
    
main section article:hover{
box-shadow : 0px 0px 10px rgb(160, 132, 80);
transition: 300ms;
cursor: pointer;
}
    
main article .main-article{
padding: 10px;
border-top: 1px solid #e7d26b;
display: flex;
flex-wrap: wrap;
}
    
main section article {
background-color: #000000;
margin-bottom: 10px;
transition: all;
}
    
    
main section article img {
          margin: 10px;
          width: 96%;
      }
      
main section .listado {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          margin: auto;
}

.descuento{
    font-size: 16px;
    color: #39b54a;
    flex-grow: 0.7;
}

.precio{
    font-size: 18px;
    flex-grow: 0.3;
    padding-left:10px;
    transition:all;
}

.descripcion {
    display: inline-block;
    opacity:35%;}
    

/* aqui comienza media query */

/* Tablet */

@media(min-width: 361px){

    .columna{
        float: none;
        width: 100%;
        margin-left: 20px;
}

.redes{
    margin-left: 20px;
    }
}

/* compu */

@media (min-width: 780px){

main section article{
    width: 22%;
    margin-left: 10px;
    margin-right: 10px; 
    margin-top:20px;  
}

main section article img {
    width: 90%;
}

.columna{
    width: 40%;
    margin-left: 20px;
}

.left{
float: left;
}
        
.right{
float: right;
margin-top: auto;
}

   

.linea{
    color: black;
}

.inferior{
    width: 24%;
}

.inferior1{
    display: inline-flex;
    justify-content: space-around;
    max-width: 75%;
    align-content: center;
}
}
