*{     margin: 0%;
       padding: 0%;
       background-color: rgb(0, 0, 0);
       }
   
/* aqui comienza el titular */
header{
    margin-top: 14px;
    text-align: center;
    padding: 14px;
    background-color: black;
}

.logo  {
    font-size: 50px;
    color: rgb(220, 224, 223);
    font-style: italic;
    text-decoration: none;
    font-family: "Princess Sofia", cursive;
    font-weight: 700;
    text-shadow: -4px 9px 16px rgba(252, 252, 252, 0.281);
        }

/* aqui comienza la barra */
.bar{
    background-color: rgb(0, 0, 0);
    color: rgba(123, 155, 122, 0.808);
    padding: 0%;    
}
        
.container {
display: block;
width: 100%; 
padding: 14px;
}
   
    .nav-link {
                list-style-type: none;
        text-decoration:  none;
            }
    
    .nav-link li{
        display: inline-block;
       width: 23%;
                text-align: center;
                }
    
    .nav-link li a{
        text-decoration:  none;
        color: rgb(197, 255, 159);
        bottom: 5px;
        font-weight: 400;
        transform: color 0.4s ease-in-out;
    }

    .nav-link li a.activo{
    color: rgb(252, 215, 215);
    font-size: 16px;
    text-shadow: -3px 4px 23px rgba(255, 255, 255, 0.95);
    font-weight: 700;
    }

    .nav-link li a:hover{
        color: rgb(252, 215, 215);
        font-size: 16px;
        text-shadow: -3px 4px 23px rgba(255, 255, 255, 0.95);
        font-weight: 700;
    }
   

/* aqui comienza cuerpo del html */

 
.carrousel{
    width: 100%;
    padding: 0;
    margin: 0;
}

 body{
line-height: 22px
 }

main{
    color: rgb(234, 248, 218);
   padding: 14px;
   }

   h2{
    padding: 10px;
}

p{
    padding: 5px;
}

footer{
    background-color: #1d1c1c;
    font-weight: 400;
    text-align: center;
    color: rgb(247, 247, 247);
    width: 100%;
    padding: 10px 0;
clear: both;
    }

.holder{
  max-width: 960px;
    margin: 0 auto;
     
}
/* aqui comienza contacto */

.columna{
    width: 40%;
    margin-left: 20px;
}

.left{
float: left;
}
        
.right{
float: right;
}

.formulario label{
    vertical-align: top;
    width: 80px;
        display: inline-block;
    
}

.formulario input, .formulario textarea{
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid rgb(174, 177, 175);
    font-size: 13px;
    padding: 5px;
    width: 90%;    
}

.formulario textarea{
height: 160px;
resize: none;
}

.formulario input{

background-color: rgb(199, 197, 197);
box-shadow: 0 0 10px;
font-size: 14px;
font-weight: 600;
cursor: pointer;
}

.redes{
    list-style-type: none;
        text-decoration:  none;
}

.redes li a{
text-decoration: none;
color: beige;
}

.boton{
    padding: 14px;
}