!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <form action="/create" method="POST">
        <div>
            <label for="marca">Marca: </label>
            <input type="text" name="marca" id="marca" placeholder="Ingresar Marca"/>
        </div>
        <br>
        <div>
            <label for="modelo">Modelo: </label>
            <input type="text" name="modelo" id="modelo" placeholder="Ingresar Modelo"/>
        </div>
        <br>
        <div>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" id="precio" placeholder="Ingresar Precio"/>
        </div>
        <br>
        <div>
            <button type="submit" value="Guardar Producto">Crear Vehiculo</button>
        </div>
        <br>
    </form>
    <div>
        {{!-- crear home para admin --}}
        <a href="#">Home</a>
    </div>
    
</body>
</html>