<body>
    <form action="/create" method="POST">
        <div>
            <label for="descripcion">Descripcion: </label>
            <input type="text" name="descripcion" id="descripcion" placeholder="Ingresar descripcion"/>
        </div>
        <br>
        <div>
            <label for="descuento">Descuento: </label>
            <input type="text" name="descuento" id="descuento" placeholder="Ingresar descuento"/>
        </div>
        <br>
        <div>
            <label for="precio">Precio: </label>
            <input type="number" name="precio" id="precio" placeholder="Ingresar Precio"/>
        </div>
        <br>
        <div>
            <label for="detalle">Detalle: </label>
            <input type="text" name="detalle" id="detalle" placeholder="Ingresar detalle"/>
        </div>
        <br>
        <div>
            <button type="submit" value="Guardar Producto">Crear Producto</button>
        </div>
        <br>
    </form>
    <div>
        crear home para admin
        <a href="/viewproductos">Productos</a>
    </div>
    
</body>
