*{
margin: 0;
padding: 0;
background-color: rgb(0, 0, 0);
color: aqua;
}
.bar {
    background-color: rgb(0, 0, 0);
    color: beige;
    padding: 10px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    }

.logo  {
    font-size: 35px;
    font-style: italic;
    text-decoration: none;
}

.nav-link {
    list-style-type: none;
    text-decoration:  none;
    display: flex;
}

.nav-link li{
    margin-right: 30px;e
    }

.nav-link li a{
    text-decoration:  none;
    color: blanchedalmond;
    transform: color 0.4s ease-in-out;
}
.nav-link li a:hover{
    color: red
}

.image{
    width: 100%;