<section class="page holder" style="padding-left: 14px">   
            <p>Inicio/</p>
            <p class="paget">Productos</p>
        </section>
    <main class="content"> 
        <div class="barra">
            <h2>Categorías</h2>
            <ul>
                <li><a href="">Tortas Personalizadas</a></li>
                <li><a href="">Tortas & Tartas</a></li>
                <li><a href="">Desayunos y Meriendas</a></li>
                <li><a href="">Cookies temáticas</a></li>
                <li><a href="">Shots dulces</a></li>
                <li><a href="">Muffins & Cupcakes</a></li>
                <li><a href="">Alfajores</a></li>
                <li><a href="">Box para regalar</a></li>
                <li><a href="">Otras delicias</a></li>
            </ul>
        </div>
    <div class="cuerpo">
            <section class="titular">
            <h2>HACÉ TU PEDIDO Y RECIBILO SIN MOVERTE DE TU CASA</h2>
            <h4>Aprovechá nuestros envios gratis y recibí tu producto en 48hs!</h4>
             </section>

        <section>
            <div class = "listado">
                 {{#each productos}} 
                <article>
                 <div class="articulo">
                    <img src="images/chessecake.jpg" alt="chessecake" class="product_img">
                    <h1>{{descuento}}</h1>
                 </div>

                  
                    <div class="main-article">
                        <p class="precio">${{precio}}</p>
                        <h4 class="descripcion">{{descripcion}}</h4>
                        <section class="alcarrito">
                            <a href="#">Agregar al Carrito</a>
                            </section>
                    </div>
                </article>
                {{/each}}
        
            

<a href = "/products/admin"><button class = "boton">Agregar Producto</button></a>    

           </div>  
    </div>
        </section>
</main>