<section class="page holder" style="padding-left: 14px">   
            <p>Inicio/</p>
            <p class="paget">Productos</p>
        </section>
    <main class="content"> 
        <div class="barra">
            <h2>Categorías</h2>
            <ul>
                <li><a href="">Tortas Personalizadas</a></li>
                <li><a href="">Tortas & Tartas</a></li>
                <li><a href="">Desayunos y Meriendas</a></li>
                <li><a href="">Cookies temáticas</a></li>
                <li><a href="">Shots dulces</a></li>
                <li><a href="">Muffins & Cupcakes</a></li>
                <li><a href="">Alfajores</a></li>
                <li><a href="">Box para regalar</a></li>
                <li><a href="">Otras delicias</a></li>
            </ul>
        </div>
    <div class="cuerpo">
            <section class="titular">
            <h2>HACÉ TU PEDIDO Y RECIBILO SIN MOVERTE DE TU CASA</h2>
            <h4>Aprovechá nuestros envios gratis y recibí tu producto en 48hs!</h4>
             </section>

        <section>
            <div class = "listado">
                <article>
                 <div class="articulo">
                    <img src="images/chessecake.jpg" alt="chessecake" class="product_img">
                    <h1>40% Off</h1>
                 </div>
                    <div class="main-article">
                        <p class="precio">$8.500</p>
                        <h4 class="descripcion">Chessecake</h4>
                        <section class="alcarrito">
                            <a href="#">Agregar al Carrito</a>
                            </section>
                    </div>
                </article>
         
                <article>
                 <div class="articulo">
                     <img src="images/Brownie.jpg" alt="Brownie" class="product_img">
                    <h1>10% Off</h1>
                 </div>
                    <div class="main-article">
                        <p class="precio">$8.500</p>
                        <h4 class="descripcion">Brownies</h4>
                        <section class="alcarrito">
                            <a href="#">Agregar al Carrito</a>
                            </section>
                    </div>
                </article>
                
                <article>
                 <div class="articulo">
                     <img src="images/Alfajores Maizena.png" alt="Alfajores Maizena" class="product_img">
                    <h1>15% Off</h1>
                 </div>
                    <div class="main-article">
                        <p class="precio">$4.200</p>
                        <h4 class="descripcion">Alfajores Maizena</h4>
                        <section class="alcarrito">
                            <a href="#">Agregar al Carrito</a>
                            </section>
                    </div>
                </article>
               
                <article>
                 <div class="articulo">
                     <img src="images/Merengue.png" alt="Merengue" class="product_img">
                    <h1>25% Off</h1>
                 </div>
                    <div class="main-article">
                     <p class="precio">$9.500</p>
                        <h4 class="descripcion">Merengues</h4>
                        <section class="alcarrito">
                            <a href="#">Agregar al Carrito</a>
                            </section>
                    </div>
                </article>

                <article>
                    <div class="articulo">
                        <img src="images/torta letra.jpg" alt="torta letra" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$15.500</p>
                           <h4 class="descripcion">Letter Cake</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/tiramisu.png" alt="tiramisu" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$19.800</p>
                           <h4 class="descripcion">Tiramisu</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/torta oreo.png" alt="OREO" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$20.100</p>
                           <h4 class="descripcion">Oreo</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/lemon pie.png" alt="lemon" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$13.500</p>
                           <h4 class="descripcion">Lemon Pie</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/tarta de manzana.png" alt="manzana" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$19.800</p>
                           <h4 class="descripcion">Tarta de Manzana</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/red velvet.png" alt="red velvet" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$22.000</p>
                           <h4 class="descripcion">Red Velvet</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/pastafrola.jpg" alt="pastafrola" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$12.000</p>
                           <h4 class="descripcion">Pastafrola</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/pan dulce.jpg" alt="pan dulce" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$7.000</p>
                           <h4 class="descripcion">Pan Dulce</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/churros.png" alt="churros" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$6.700</p>
                           <h4 class="descripcion">Churros</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/tarta ricota.png" alt="ricota" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$12.000</p>
                           <h4 class="descripcion">Tarta de Ricota</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/box cookies.png" alt="cookies" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$10.000</p>
                           <h4 class="descripcion">Box Cookies</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/box de alfajores.png" alt="alfajores" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$13.000</p>
                           <h4 class="descripcion">Box Alfajores</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/rosca pascuas.png" alt="rosca" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$9.800</p>
                           <h4 class="descripcion">Rosca de Pascuas</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/budin.jpg" alt="budin" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$9.800</p>
                           <h4 class="descripcion">Budin</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/bola de fraile.jpg" alt="fraile" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$6.800</p>
                           <h4 class="descripcion">Bolitas de Fraile</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/cookies personalizadas.jpg" alt="cookies personalizada" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$9.900</p>
                           <h4 class="descripcion">Cokkies Personalizadas</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/shots dulce.png" alt="shots" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$5.600</p>
                           <h4 class="descripcion">Shots Dulces</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/cupcakes.png" alt="cupcakes" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$8.400</p>
                           <h4 class="descripcion">Cupcakes</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/alfajores caseros.png" alt="alfajores caseros" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$10.200</p>
                           <h4 class="descripcion">Alfajores Caseros</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

                   <article>
                    <div class="articulo">
                        <img src="images/Macaron.jpg" alt="Macaron" class="product_img">
                    </div>
                       <div class="main-article">
                        <p class="precio">$9.900</p>
                           <h4 class="descripcion">Macaron</h4>
                           <section class="alcarrito">
                               <a href="#">Agregar al Carrito</a>
                               </section>
                       </div>
                   </article>

           </div>  
    </div>
        </section>
</main>